@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/transformação\ digital.jpg);
}
.first-box {
    margin: 40px;
    padding: 20px;
    width: 30%;
}
/* COMO VOCÊ FEZ A O TÍTULO E A BARRA DE PESQUISA ACOMPANHAREM A BARRA SCROLL? */
.header {
    font-size: 22px;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.first-button {
    position: absolute;
    right: 18%;
    margin-top: -10px; 
}
/* O ESTILO DENTRO DO i É PARA APLICAR NOS ITENS QUE SERÃO CRIADOS? */
.header i {
    font-size: 22px;
}

.input-sequence {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 270px;
    height: 55px;
    border-radius: 10px;
    box-shadow: 6px 5px 10px 0px grey;
    background-color: rgb(217, 192, 192);
}

.input-jobs {

    outline: none;
    border: none;
    border-radius: 3px;
    width: 79%;
}

button {
    /* margin-left: 8px; */
    background: transparent; 
    border: none;
    cursor: pointer;
    outline: none;
}

.bx-plus {
    font-size: 30px;
    background-color: #0a7511;
    color: white;
    padding: 3px;
    border-radius: 50%;
    margin-left: 14px;
    margin-top: -3px;

}
/*Por que você usou column-reverse? */

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.divLi {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    border-radius: 12px;
    box-shadow: 6px 5px 10px 0px grey;
    display: flex;
    align-items: center;
}
/* ESSES ESTILOS .divLi pra baixo são para o banco de dados? */
.divLi span {
    width: 80%;
    color: dimgray;
}

.divLi input {
    width: 10%;
    outline: none;
    accent-color: currentcolor;
}

.divLi i {
    font-size: 25px;
    color: orange;
}
/* O QUE SIGNIFICA O list-style-type dentro do li? */
li {
    list-style-type: none;
}
/* PARA O QUÊ É UTILIZADO O line-through AQUI?? */
.line-through {
    text-decoration: line-through;
}

